.grid {
    display: grid;
    column-gap: 5px;
    row-gap: 5px;
}

.container {
    margin: 25px;
    grid-template-columns: 1fr 1.5fr;
}

/* Left side of the application */
.left-container {
    grid-template-rows: 9fr 4fr 3fr;
}

/* Top */
.top-container {
    grid-template-rows: repeat(9, 1fr);
    margin-bottom: 25px;
}

.top-input-container {
    grid-template-columns: 1fr 2fr;
}

/* Bottom */
.bottom-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    margin-bottom: 25px;
}

.bottom-input-container {
    grid-template-columns: 1fr 2fr;
}

/* History */
.history-container {
    grid-template-rows: 3fr;
}

/* Right side of the application */
.right-container {
    grid-template-rows: 10fr 4fr 2fr;
}

/* Table */
.table-container {
    grid-template-rows: 10fr;
    margin-bottom: 25px;
}

/* Label */
.label-container {
    grid-template-rows: 4fr;
    margin-bottom: 25px;
}

/* Button */
.button-container {
    grid-template-rows: 2fr;
}
